<a href="https://colab.research.google.com/github/2303A51593/PDS_B10_1593/blob/main/LAB_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('student_scores.csv')
print("Original DataFrame:")
print(df)
numeric_cols = df.select_dtypes(include=['number'])
df.fillna(numeric_cols.mean(), inplace=True)
print("\nDataFrame after filling missing values:")
print(df)
high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]
print("\nHigh Achievers (scores > 75 in all subjects):")
print(high_achievers)

Original DataFrame:
  Student  Math  Science  English
0    Amit  85.0     88.0     90.0
1    Neha  70.0      NaN     72.0
2    Ravi   NaN     65.0     60.0
3   Sneha  90.0     92.0      NaN
4   Arjun  40.0     55.0     50.0
5   Priya  78.0     80.0     85.0

DataFrame after filling missing values:
  Student  Math  Science  English
0    Amit  85.0     88.0     90.0
1    Neha  70.0     76.0     72.0
2    Ravi  72.6     65.0     60.0
3   Sneha  90.0     92.0     71.4
4   Arjun  40.0     55.0     50.0
5   Priya  78.0     80.0     85.0

High Achievers (scores > 75 in all subjects):
  Student  Math  Science  English
0    Amit  85.0     88.0     90.0
5   Priya  78.0     80.0     85.0